@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Shared/AccountLayout/_AccountLayout.cshtml";
    ViewData["Title"] = "Change Password";
    ViewBag.Header = "Change Password";
}

@model CommercialShop.Models.ChangePasswordDTOs.ChangePassword;


<div>
    <form asp-asp-controller="Account" asp-action="ChangePassword" method="post" class="w-100 d-flex flex-column justify-content-center">

        @* Hidden fields to keep Email and Token on POST *@
        <input asp-for="Email" type="hidden" />
        <input asp-for="Token" type="hidden" />
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label">New Password</label>
            <input asp-for="NewPassword" type="password" class="form-control">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
            <input asp-for="ConfirmNewPassword" type="password" class="form-control">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    </form>
</div>